variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - lint
  - build
  - test
  - deploy
  - deploy_tests

before_script:
  - pip install xmlrunner

pep8:
  stage: lint
  image: registry.gitlab.com/pipeline-components/flake8:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "jenkins"'
    - if: $CI_COMMIT_BRANCH == 'master'
  before_script:
    - echo noop
  script:
    flake8 .

test:3.6:
  stage: test
  image: python:3.6
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "jenkins"'
    - if: $CI_COMMIT_BRANCH == 'master'
  script:
    - make gensrc
    - python tests.py
  artifacts:
    reports:
      junit: test-reports/TEST-*.xml

test:3.10:
  stage: test
  image: python:3.10
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH == "jenkins"'
    - if: $CI_COMMIT_BRANCH == 'master'
  script:
    - make gensrc
    - python tests.py
  artifacts:
    reports:
      junit: test-reports/TEST-*.xml

build:
  stage: deploy
  image: $LINBIT_DOCKER_REGISTRY/build-helpers:latest
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: $CI_COMMIT_BRANCH == 'master'
  before_script:
    - curl -sSL $LINBIT_REGISTRY_URL/repository/lbbuild/lbbuildctl-latest -o /usr/local/bin/lbbuildctl
    - chmod +x /usr/local/bin/lbbuildctl
  script:
    - |
      case "$CI_COMMIT_REF_NAME" in
        "master") VERSION_SUFFIX="" ;;
        *) VERSION_SUFFIX=.dev$(echo -n $CI_COMMIT_REF_NAME | md5sum| sed -e 's/[^1-9]//g' | cut -c -9) ;;
      esac
    - PYTHON_LINSTOR_VERSION=1.99.0$VERSION_SUFFIX
    - awk -f "/usr/local/bin/dch.awk" -v PROJECT_VERSION="$PYTHON_LINSTOR_VERSION" -v PROJECT_NAME="python-linstor" debian/changelog > debian/changelog.tmp
    - mv debian/changelog{.tmp,}
    - sed -i "s/VERSION = \"[0-9\.]*/VERSION = \"$PYTHON_LINSTOR_VERSION/g" linstor/version.py
    - sed -i "s/version = \"[0-9\.]*/version = \"$PYTHON_LINSTOR_VERSION/g" pyproject.toml
    - make debrelease
    - curl -isSf -u $LINBIT_REGISTRY_USER:$LINBIT_REGISTRY_PASSWORD --upload-file dist/python-linstor-*.tar.gz $LINBIT_REGISTRY_URL/repository/lbbuild-upstream/
    - curl -X DELETE -u $LINBIT_REGISTRY_USER:$LINBIT_REGISTRY_PASSWORD $LINBIT_REGISTRY_URL/repository/rhel8/x86_64/python-linstor-$PYTHON_LINSTOR_VERSION-1.noarch.rpm
    - lbbuildctl build python-linstor --arch amd64 --ci -v "$PYTHON_LINSTOR_VERSION"
        -e LINBIT_REGISTRY_USER=$LINBIT_REGISTRY_USER
        -e LINBIT_REGISTRY_PASSWORD=$LINBIT_REGISTRY_PASSWORD
        -e LINBIT_REGISTRY_URL=$LINBIT_REGISTRY_URL
        -d ubuntu-jammy,ubuntu-noble,debian-bookworm,rhel8.0

staging:
  stage: deploy_tests
  variables:
    ARG_COMMIT_BRANCH: $CI_COMMIT_REF_NAME
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: $CI_COMMIT_BRANCH == 'master'
  trigger: linstor/linstor-tests
